{% import "macros/opengraph.html" as og %}

{% set p = page | default(value=section) %}


<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{{ p.title }}</title>

    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link rel="preconnect" href="https://syndication.twitter.com"/>

    <link rel="stylesheet" href="{{ get_url(path="pogscience-events.css", cachebust=true) }}"/>
    <script src="{{ get_url(path="generations-sorciers.js", cachebust=true) }}" async defer></script>

    {% block opengraph %}
    {{ og::opengraph(title=p.title | default(value=config.title), description=p.description | default(value=config.description), logo_path=p.extra.logo | default(value=config.extra.logo | default(value=""))) }}
    {% endblock %}
</head>

<body>{% block outer_content %}{% endblock %}</body>
</html>
