{% extends "base.html" %}
{% import "macros/images.html" as img %}

{% block outer_content %}
    {% set p = page | default(value=section) %}

    {% if p.extra.header %}
        {% set header = p.extra.header %}
        {% elif config.extra.header %}
        {% set header = config.extra.header %}
    {% else %}
        {{ throw(message="You must either set (section|page).extra.header (in the TOML frontmatter) or config.extra.header (in config.toml). Neither is defined.") }}
    {% endif %}

    <section class="hero has-live-event-overlay">
        <div class="hero-head"></div>
        <article class="hero-body">
            <div class="container">
                <div class="columns gs-columns {% if p.extra.center_logo %}is-centered{% endif %}">
                    <div class="column is-4 gs-logo-dates">
                        <a href="{{ get_url(path="/") }}">
                            <picture class="gs-logo">
                                {{ img::img_or_svg(path=header.logo.path, alt=header.logo.alt, hidden=true) }}
                            </picture>
                        </a>

                        {% if header.begin and header.end %}
                            {% set locale = config.default_language | default(value="fr_FR") %}

                            {% set month_begin = header.begin | date(format="%m") %}
                            {% set month_end = header.end | date(format="%m") %}
                            {% set spans_over_multiple_months = month_begin != month_end %}
                            {% if spans_over_multiple_months %}
                                {% set month_format = "%b" %}
                            {% else %}
                                {% set month_format = "%B" %}
                            {% endif %}
                            <aside class="gs-dates {% if not spans_over_multiple_months %}has-one-month{% endif %}">
                                <time datetime="{{ header.begin | date(format="%+") }}"
                                      class="is-day-begin">
                                    {{ header.begin | date(format="%d", locale=locale) }}
                                </time>
                                <span class="is-days-separator">–</span>
                                <time datetime="{{ header.end | date(format="%+") }}" class="is-day-end">
                                    {{ header.end | date(format="%d", locale=locale) }}
                                </time>
                                <time datetime="{{ header.begin | date(format="%+") }}"
                                      class="is-month-begin {% if not spans_over_multiple_months %}is-only-month{% endif %}">
                                    {{ header.begin | date(format=month_format, locale=locale) }}
                                </time>
                                {% if spans_over_multiple_months %}
                                    <time datetime="{{ header.end | date(format="%+") }}"
                                          class="is-month-end">
                                        {{ header.end | date(format=month_format, locale=locale) }}
                                    </time>
                                {% endif %}
                            </aside>
                        {% endif %}
                    </div>

                    <div class="column gs-main-content">
                        {% block content %}{{ p.content | safe }}{% endblock %}
                    </div>
                </div>
            </div>
        </article>
    </section>

    {% block overlay_content %}
        {% if p.extra.overlay_banner %}
            {% set banner = p.extra.overlay_banner %}
            {% elif config.extra.overlay_banner %}
            {% set banner = config.extra.overlay_banner %}
        {% else %}
            {{ throw(message="You must either set (section|page).extra.overlay_banner (in the TOML frontmatter) or config.extra.overlay_banner (in config.toml). Neither is defined.") }}
        {% endif %}


        <section class="live-event">
            <div class="live-event-container">
                <figure>
                    {% set img = resize_image(path=banner.logo.path, width=300, height=300, format="webp") %}
                    <img src="{{ img.url }}" alt="{{ banner.logo.alt }}"/>
                </figure>
                <article>
                    {{ banner.content | trim | markdown | safe }}
                </article>
                <aside>
                    <a href="{{ banner.link.url }}" class="twitch-button" target="_blank">
                        {{ load_data(path="icons/twitch.svg", format="plain") | safe }}
                        {{ banner.link.label }}
                    </a>
                </aside>
            </div>
        </section>
    {% endblock %}

    {% block under_content %}{% endblock %}

    {% block footer %}
        {% set p = page | default(value=section) %}

        {% if p.extra.footer %}
            {% set footer = p.extra.footer %}
            {% elif config.extra.footer %}
            {% set footer = config.extra.footer %}
        {% else %}
            {{ throw(message="You must either set (section|page).extra.footer (in the TOML frontmatter) or config.extra.footer (in config.toml). Neither is defined.") }}
        {% endif %}

        <footer>
            {% if footer.banner %}
                <figure>
                    {{ img::img_or_svg(path=footer.banner.path, alt=footer.banner.alt, max_width=1500) }}
                </figure>
            {% endif %}

            <div class="container">
                <ul class="links">
                    {% for link in footer.links %}
                        <li>
                            <a href="{% if link.url %}{{ link.url }}{% elif link.path %}{{ get_url(path=link.path) }}{% endif %}">{{ link.title | markdown(inline=true) | safe }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="social-networks">
                    {% for link in footer.social_networks %}
                        <li>
                            <a href="{% if link.url %}{{ link.url }}{% elif link.path %}{{ get_url(path=link.path) }}{% endif %}" title="{{ link.title }}" aria-label="{{ link.title }}">
                                {{ img::img_or_svg(path="logos/social/" ~ link.icon ~ ".svg", alt=link.title) }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </footer>
    {% endblock %}
{% endblock %}
