{%- import "macros/ical.html" as ical -%}
BEGIN:VCALENDAR
VERSION:2.0
PRODID:-//PogScience//EVENTS Version 1.0-Zola//FR
CALSCALE:GREGORIAN
NAME:{{ ical::text(text=config.title) }}
DESCRIPTION:{{ ical::text(text=config.description) }}
URL;VALUE=URI:{{ ical::text(text=config.base_url) }}
TIMEZONE-ID:Europe/Paris
X-WR-CALNAME:{{ ical::text(text=config.title) }}
X-WR-CALDESC:{{ ical::text(text=config.description) }}
X-WR-TIMEZONE:Europe/Paris
{%- set events_sec = get_section(path=page.extra.section) -%}
{%- for page in events_sec.pages | reverse -%}
{#- If replay set, we link to that, else the explicit link (takes precedence over Twitch handle), else the Twitch link. -#}
{%- set event_link = page.extra.replay | default(value=page.extra.link | default(value="https://twitch.tv/" ~ page.extra.twitch)) -%}
{%- set live_link = page.extra.link | default(value="https://twitch.tv/" ~ page.extra.twitch) -%}
{%- set event_digest = live_link ~ page.date ~ page.extra.end ~ page.authors[0] %}
BEGIN:VEVENT
UID:{{ get_hash(literal=event_digest, sha_type=384, base64=true) | safe }}.24h.pogscience.org
DTSTAMP:{{ ical::datetime_utc(date=page.date) }}
SUMMARY:{{ ical::text(text=page.title) }}
DESCRIPTION:Par {{ ical::text(text=page.authors | join(sep=", ")) }}\n\n{{ ical::text(text=page.content) }}
LOCATION:{{ ical::text(text=event_link) }}
DTSTART;TZID=Europe/Paris:{{ ical::datetime(date=page.date) }}
DTEND;TZID=Europe/Paris:{{ ical::datetime(date=page.extra.end) }}
END:VEVENT
{%- endfor %}
END:VCALENDAR
COMMENT:*{# guard against live reload script injected by Zola in development #}