section.hero
  margin-bottom: $sections-horizontal-padding
  border-top: solid 8px $primary
  background: $orange-lightest

  +mobile
    .hero-body
      padding-top: 2rem

div.gs-columns
  align-items: flex-start

  &.is-centered
    align-items: center

  +mobile
    display: flex
    flex-direction: column-reverse

.gs-logo-dates
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  gap: 2rem

  +mobile
    display: flex
    flex-direction: column

.gs-logo
  svg
    width: 50%
    height: auto
    fill: $orange-darkest

    +mobile
      width: 80%

.gs-dates
  margin: 0
  padding: .4rem 1rem .5rem 1rem
  width: fit-content

  display: grid
  grid-template-columns: 2fr / 1fr / 2fr
  grid-auto-rows: auto
  align-items: center

  row-gap: 0
  column-gap: .4rem

  background: $orange-dark
  border-radius: 8px

  color: $orange-lightest
  font-family: Poppins, sans-serif
  font-variant: all-small-caps
  line-height: 1

  &.has-one-month
    line-height: 1.1

  +mobile
    margin-top: 2rem

  time.is-day-begin, time.is-day-end
    grid-row: 1
    font-size: 4rem

  .is-days-separator
    grid-row: 1
    grid-column: 2
    vertical-align: center
    color: $orange-lighter

  time.is-month-begin, time.is-month-end
    grid-row: 2
    font-size: 2rem

  time.is-month-begin.is-only-month
    grid-column: 1 / 4

  time.is-month-end
    grid-column: 3


  > span
    margin: 0 .4rem
    font-size: 2rem
    font-weight: 300
    font-variant: all-small-caps
    color: $orange-lightest

.gs-main-content
  +mobile
    margin-top: .4rem
    margin-bottom: 3rem

  h2.pog-main-title-with-over-title
    margin-bottom: -.6rem
    font-size: 1.4rem
    font-variant: all-small-caps
    font-weight: 400
    color: $orange-darkest

    strong
      font-weight: 600

    +mobile
      margin-bottom: .4rem
      line-height: 1

    .headline
      display: block
      margin-top: -1rem
      margin-bottom: 1.5rem

      font-family: Poppins, sans-serif
      font-size: 4.2rem
      font-weight: 500
      font-variant: normal

      letter-spacing: -2px

      +mobile
        margin-top: .5rem
        font-size: 3.6rem
        line-height: 1

  p
    margin-bottom: 1.5rem
    color: $text
    font-size: 1.4rem

    +mobile
      font-size: 1.36rem

    strong
      font-weight: 500
      color: $text-strong

  footer
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

    +mobile
      flex-direction: column

    .buttons
      margin-top: 2rem

      +mobile
        justify-content: center

        a.button:first-child
          display: block
          margin-right: 0

    .partnerships-logos
      display: flex
      flex-direction: row
      flex-wrap: wrap

      align-items: center
      justify-content: center
      gap: $column-gap

      img, svg
        width: 64px

        +mobile
          width: 96px
